version: '3.8'
services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      # Set an admin token value before starting (export VAULTWARDEN_ADMIN_TOKEN=...)
      - ADMIN_TOKEN=${VAULTWARDEN_ADMIN_TOKEN:-changeme}
      - ROCKET_WORKERS=4
    ports:
      - "8080:80"
    volumes:
      - ./data:/data
