[Unit]
Description=Roda o IoT Presence Watchdog a cada 5 minutos

[Timer]
OnBootSec=4min
OnUnitActiveSec=5min
Persistent=true
Unit=iot-presence-watchdog.service

[Install]
WantedBy=timers.target
