auth_enabled: false
server:
  http_listen_port: 3100
ingester:
  chunk_idle_period: 5m
  chunk_retain_period: 30s
  max_transfer_retries: 0
schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h
storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/boltdb-cache
    shared_store: filesystem
  filesystem:
    directory: /loki/chunks
limits_config:
  enforce_metric_name: false
  ingestion_rate_mb: 100
  max_streams_per_user: 0
chunk_store_config:
  max_look_back_period: 0s
table_manager:
  retention_deletes_enabled: false
