[Unit]
Description=Fly.io WireGuard Tunnel
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/wg-quick up fly0
ExecStop=/usr/bin/wg-quick down fly0

[Install]
WantedBy=multi-user.target
